@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-[600px] max-w-[90%] md:w-[750px] ml:w-[970px] xl:w-[1170px] mx-auto px-2;
  }
  .card {
    @apply shadow-md rounded-md bg-white py-4 px-3;
  }
  .input {
    @apply border border-solid border-slate-200 outline-none ps-4 leading-6 py-2 block w-full mb-2 rounded-lg h-[52px] text-[17px] focus:border-blue-600;
  }
  .small-input {
    @apply border border-solid border-slate-200 outline-none ps-4 leading-6 py-2 block w-full mb-2 rounded-md h-[40px] text-[17px] focus:border-blue-600;
  }
  .layer {
    @apply bg-slate-100/60 w-full h-full absolute inset-0 flex justify-center items-center;
  }
  .select {
    @apply w-32 border border-gray-200 rounded-md px-1 h-9;
  }
  .side-bar {
    @apply p-4 w-72 overflow-auto max-[1099px]:hidden fixed;
    height: calc(100vh - 56px);
  }
  .util {
    @apply my-4 bg-white h-fit rounded-lg shadow-sm py-3 px-5;
  }
  .util-fluid {
    @apply my-4 bg-white h-fit rounded-lg shadow-sm py-3 px-5;
  }
  .main-content {
    width: calc(100% - 576px);
  }
  .active-notifications-tab {
    @apply text-blue-600 bg-blue-100 hover:bg-blue-200;
  }
  .notifications-tab {
    @apply px-3 py-1 rounded-full font-semibold transition ease-linear;
  }
  .popup {
    @apply fixed top-16 bg-white w-[360px] right-4 z-50 rounded-lg px-3 py-4 overflow-auto;
    max-width: calc(100vw - 24px);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f0f2f5;
}

html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b3bb;
  border-radius: 0.3rem;
}
